* {
  box-sizing: border-box;
}

body {
  background-color: gray;
  --tile-size: min(5vw, 7vh);
}

.header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: antiquewhite;
}

#turn {
  display: inline;
  margin: 0;
  margin-right: 20px;
}

#user {
  display: inline;
  margin: 0;
  text-align: right;
  flex-grow: 1;
}

.btn {
  padding: 8px;
  border: none;
  border-radius: 5px;
  background-color: dodgerblue;
  color: whitesmoke;
}
.btn:hover {
  background-color: rgb(52, 154, 255);
}
.btn:active {
  background-color: rgb(17, 123, 228);
}
.btn:disabled {
  background-color: rgb(130, 130, 130);
}

#game {
  display: flex;
  padding: 10px;
}

#board {
  background-color: darkgray;
  padding: var(--tile-size);
  border-radius: var(--tile-size);
  border: 5px outset lightgray;
}

.boardRow {
  display: flex;
  flex-direction: row;
  position: relative;
}

.boardTile {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  width: var(--tile-size);
  height: var(--tile-size);
  padding: 1%;
}

.boardLabel {
  justify-content: center;
  position: absolute;
}
.boardLabel.right {
  right: calc(0px - var(--tile-size));
}
.boardLabel.left {
  left: calc(0px - var(--tile-size));
}
.boardLabel.top {
  top: calc(0px - var(--tile-size));
}
.boardLabel.bottom {
  bottom: calc(0px - var(--tile-size));
}
.boardLabel span {
  text-align: center;
  font-size: calc(var(--tile-size) / 2);
}

.darkTile {
  background-color: rgb(81, 47, 33);
}

.lightTile {
  background-color: rgb(209, 190, 144);
}

.chipContainer {
  display: flex;
  flex-direction: column-reverse;
  height: 9%;
  position: relative;
}

.pawn {
  position: relative;
  z-index: 2;
  width: 80%;
  margin: 5% 10%;
}

.lifted {
  bottom: 10px;
}

.lifted.bottom {
  filter: drop-shadow(0 10px 4px rgba(0,0,0,0.5));
}

/* .king {
  bottom: 5%;
} */